body{
    width: 50%;
    
}
.container{
    border-radius: 5px;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
.align-center{
    align-items: center;
}
.pad-1{
    padding: 0.7rem;
}
.gap-half-space{
    gap: 0.5rem;
}